.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}
.thumbnail{
  display: inline-block;
  width: 100%;
  vertical-align: top;
  transition: opacity 0.15s;
}
.info-stats{
  display: inline-block;
  height: 200px;
  position: relative;
  border: 3px;
}
.add-friend{
  background-color: rgb(84, 68, 186);
  color: white;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 6px;
  cursor: pointer;
}
.name{
  text-align: center;
}
.add-friend:active{
  opacity: 0.5;
}
.add-friend:hover{
  opacity: 0.8;
}